@import "compass/reset";
@import "compass/css3";

@mixin clearfix() {
	&:after{
		display:block;
		clear:both;
		content:"";
		visibility:hidden;
		height:0;
	} 
	zoom:1;
}

@mixin little_tittle(){

	padding:.5em  0 0 1.5em;
	h3{
		padding-left: .5em;
		font-weight: lighter;
		text-transform: uppercase;
		margin-top: 1em;
	}
}

@mixin respond-to($media) {
  @if $media == handhelds {
    @media only screen and (max-width: $break-small) { @content; }
  }
  @else if $media == medium-screens {
    @media only screen and (min-width: $break-small + 1) and (max-width: $break-large - 1) { @content; }
  }
  @else if $media == wide-screens {
    @media only screen and (min-width: $break-large) { @content; }
  }
}
$break-small: 200px;
$break-large: 300px;

$white :rgb(255,251,245);
$left_bg_color:rgb(128,168,204);

html{
	height:100%;
}
body{
	height:1776px;
	font-family:"Open Sans";
	background:rgba(242,238,232,1); 
}


header{ 
	nav{
		width: 100%;
		height:64px;
		background-color: $white;
		border-bottom: 2px solid rgb(233,233,233);
		li{ 
			float: left;
		}
		.navli1{ 
			text-align: center;
			width: 16px;
			padding:8px;
			margin: 16px;
			color:$white;
			border-radius: 100%; 		
			background-color: rgb(127,167,201);	
		} 
		.navlihr{
				height:64px;
				content:"";
				border-right: 1px solid rgb(233,233,233);
		}
		.navli2{
			font-size: 10px;
			text-align: center;
			width: 13px;
			padding:8px;
			margin-top: 17px; 
			margin-left: 16px;
			border-radius: 100%; 		 
			border: 2px solid rgb(233,233,233);
			color:rgb(75,75,75);
		}
		.navli3{
			width: 30%;
			text-align: right; 
			padding:8px;
			margin:9px auto;
			font-size: 2em;
			color: rgb(127,167,201);
		}
		.navli4{
			float: right;
			margin:14px; 
			padding:3px 10px 3px 06px;
			border-radius:1.5em 1.5em 1.5em 1.5em;
			border: 2px solid rgb(233,233,233);
			input{
				background-color: $white;
				padding:6px 0 6px 16px;
				border:0;
			}
			i{
				position: static;
				margin-left: -14px;
			}
			@include clearfix;

		}
		.navli5{
			padding:14px 25px 14px 14px ;
			float: right;
			.avator{
				margin-top: 2px;
				height:2em;
				width: 2em;
				border-radius: 100%;
			}
		}
	}

}
 
.left{ 
	margin-top: -3px;
	height: 100%;
	float: left;  
	width: 280px; 
	margin-left: -100%;
	background-color: $left_bg_color;
	border-top:2px solid rgb(118,160,198); 
	/*position: relative;*/
	/*left: -150px;*/
	.profile{
		color:$white;
		text-align: center;
		.avator{
			margin-top: 2em;
			padding:1em;
			height: 7em;
			width: 7em;
			border-radius: 100%;
		}
		.name{
			font-weight: bold;
		}
		.introduction{
			padding:1em;
			line-height: 20px;
			color: rgba(255,255,255,0.75);
			font-size: 90%;
			margin-bottom: 1em;
		}
		span{ 
			padding-left:.5em;
			color: rgba(255,255,255,0.75);
			font-size: 90%;
		}
		button{
			font-size: 1em;
			margin: 1.2em;
			padding:0.7em 3.5em 0.7em 3.5em; 
			font-weight: lighter;
			color:$white;
			background-color: rgb(108,148,184);
			border:0;
			border-radius: 2em 2em 2em 2em;
		}
	}
	.gallery{
		margin-top: 1em;
		ul{ 
			li{
				float: left; 
				width: 33.333333%; 
				border:0;
				margin-top: -2px;
				img{ 
					border:0; 
					width: 100%;
					margin: 0;
					padding:0;
				}
			}
		}
		@include clearfix;
	}
	.activities{
		@include little_tittle;
		h3{
			color:rgba(255,255,255,0.75); 
		}
		ul{
			padding:.5em;
			li{
				padding-top: 1em;
				color:rgb(108,148,184);
				a{
					color:rgba(255,255,255,0.75);
				}
			}
		}
	}
}


.middle{ 
	float: left;
	width: 100%;

	.numbers{ 
		width: 90%;  
		margin:2em auto;
		background:$white;
		border: 1px solid rgb(233,233,233);
		li{
			text-align: center;
			float: left;
			width: 25%;
			box-sizing:border-box;
			padding:1.5em 3em;
			border-bottom: 3px solid transparent;
			transition:all.3s ease-in;

		    @include respond-to(medium-screens) {
		        width: 50%;
		    }

			h4{
				text-transform: uppercase;
				color:gray;
			}

			p{
				margin-top: 1em;
				font-weight: bold;
			}

			&:hover{
				border-bottom: 5px solid lightblue;
			}
		}
		@include clearfix;
	}


	.articles{
		width: 90%;
		margin:auto;
		border: 1px solid rgb(233,233,233);

	}

	.post{
		position: relative;
		text-align: left;
		padding: 2em 2em 1em 2em; 
		background: $white;
		border-bottom: 1px solid rgba(242,238,232,1);
		.avator{
			width: 3em;
			height: 3em;
			border-radius: 100%;
			position: absolute;
			top: 2em;
			left: 2em;
		}
		.content{
			margin-left: 4em;
			margin-bottom: 1em;
			p{
				line-height: 1.4;
				font-weight: normal;
			}
			img{
				width: 100%;
				margin-bottom: 1em;
			}

			header{
				margin-bottom: 1em;

				span{
					margin-right: 1em;
					&.name{
						font-weight:bold;
					}
					&.account{
						font-weight:lighter;
						color: gray;
					}
					&.time{
						color:gray;
						float: right;
						margin-right: 0;
					}
				}
			}
		}
	 

		p{
			margin-bottom: 1em;
		}

		footer{
			a{
				text-decoration: none;
				color:gray; 
				margin-right: 1em;
				&:last-child{
					float:right;
					margin-right: 0;
				}

				&:hovar{
					color:$white;
				}
			}
		}
		@include clearfix;
	}
	 

}
.right{ 
	margin-top: -1px;
	height: 100%;
	float: left;
	width: 280px; 
	margin-left: -280px;
	background-color: $white;
	.trends{
		@include little_tittle;
		font-size: 1.1em;
		h3{
			color:rgba(0,0,0,0.5);
			font-weight: bold;
			padding-bottom: 1em;
		}
		li{
			padding-left: .5em;
			padding-top: .4em;
			color: rgb(156,185,211);

		}
	} 
	.to_follow{
		@include little_tittle;
		font-size: 1.1em;
		h3{
			color:rgba(0,0,0,0.5);
			font-weight: bold;
			padding-bottom: 2em;
		}
		li{
			margin-bottom: 2.5em;
		}
		img{
			height: 3em;
			width: 3em;
			position: absolute;
			border-radius: 100%;
		}
		section{
			padding-top: .4em;
			margin-left: 4em
		} 
		span{
			color:rgba(0,0,0,0.5);
			font-weight: bold;
		}
		p{
			color:rgba(0,0,0,0.3);
		}
		i{ 
			color:rgba(0,0,0,0.4);
			padding:5px 6px 5px 7px;
			float: right; 
			margin-top:-2.1em;
			font-size: .8em;
			border:1px solid rgba(0,0,0,0.2);
			border-radius: 2px;
			margin-right: 2em;
		}
	}   
	/*position: relative;*/
	/*right: -200px;*/
	@include clearfix;
}
.inner{
	margin-left: 280px;
	margin-right: 280px;

}

@import "font-awesome";